<ul>
<% @readings.each do |reading| %>
  <li><%= reading.time %>: <strong><%= reading.noise %></strong>, <%= reading.room %></li>
<% end %>
</ul>

<form action="/jroom/" method="post">
  <input type="hidden" name="noise" value="[134,140,123,134,64,643,31]"/>
  <input type="submit"/>
</form>